* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services,
.portafolio,
.aboutme {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutme {
  background-image: url("./images/img-5.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.aboutme p {
  color: white;
  font-size: 20px;
}

.portafolio {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .portafolio{
    background-image: url('./images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } */
